[Desktop Entry]
Type=Application
Exec=/usr/bin/Eterm -x --buttonbar no --scrollbar no -e bash -c "bash ~/.config/autostart/startup.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Eterm
Name=Eterm
Comment[en_GB]=
Comment=
