[Desktop Entry]
Type=Application
Exec=gnome-terminal --hide-menubar -- bash -c "~/.config/autostart/startup.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Startup
Name=Startup
Comment[en_GB]=
Comment=
