[Desktop Entry]
Type=Application
Exec=gnome-terminal --hide-menubar -- sudo /usr/local/bin/startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Startup
Name=Startup
Comment[en_GB]=
Comment=
